* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.my_progress {
    width: 100%;
    background-color: grey;
    height: 30px;
    margin-top: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    
}

.mybar {
    width: 2%;
    background-color: green;
    height: 30px;
}

button {
    background-color: green;
    padding: 10px 15px;
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 2rem;
    border-radius: .4rem;
    margin-left: 2rem;
    cursor: pointer;


}